.c-button{

    &__reserve{
        position:absolute;
        background:$color-bg__primary;
        width:100px;
        height:100px;
        border-radius: 50px;
        right:50px;
        bottom:50px;
        text-align:center;
        font-size:20px;
        color:$color-font__secondary;
        box-shadow: 4px 4px 4px $color-shadow__main;
        transition: all 0.5s;
        
        &:hover{
            transform:scale(1.1);
        }
    }
}