.c-card {
    
    &__cover {
        width: 100%;
        height: 100vh;
    }

    &__slider{
        width:100%;
        display:flex;
        justify-content: space-between;
    }

    &__halfBox{
        width:50%;
    }

    

    &__content{
        width: 70%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
    }
}
