.c-gird{

    &__centerd{
        display: flex;
        justify-content: space-between;
    }

    &__center{
        display:flex;
        align-items:center;

        @include mq(sp){
            justify-content: center;
        }
    }

    &__header{
        display:flex;
        align-items:center;
        justify-content: space-between;

        @include mq(sp){
            display: block;
        }
    }
}