.c-nav {

    &__header {
        position: absolute;
        right: 30px;
        display: flex;

        @include mq(sp){
            display:block;
        }

        &_container{
            display:flex;

            @include mq(sp){
                display:block;
            }
        }
    }
}
