.c-text{

    &__title{
        color:#008db1;
        font-size:34px;
        width:auto;
        position: relative;
        padding:5px 0;
        font-weight:800;
        letter-spacing:3px;

        &:before{
            content:"";
            background:#008db1;
            width:50%;
            height:4px;
            position:absolute;
            bottom:0px;
            left:25%;
        }
    }
}