.p-gird{

    &__main{
        padding-top:100px;
    }

    &__header{
        display: flex;
        align-items: center;
        transition: all 0.5s;
        z-index:2;
        position:fixed;
    }
}