.p-gird{

    &__main{
        padding-top:100px;
    }

    &__header{
        min-height:100px;
        width:100%;

        @include mq(sp){
            padding:30px 0;
        }
    }

    &__nav{
        position: relative;
        
    }
}