.p-logo{

    &__main{
        width:250px;
        position:relative;
        cursor:pointer;
        cursor:hand;
    }

    &__instagram{
        width: 60px;
        height:60px;
        text-align:center;
        cursor: pointer;
    }

}