.p-text {
    &__header {
        cursor: pointer;
        padding: 20px 30px;
        display: block;
        text-align: center;
        position: relative;
        transition: all 0.2s;

        &::after {
            content: "";
            width: 50%;
            height: 3px;
            background: $color-bg__primary;
            position: absolute;
            left: 25%;
            bottom: 10px;
            visibility: hidden;
            transition: all 0.3s;
        }

        &:hover {
            color: $color-font__primary;
        }

        &:hover::after {
            visibility: visible;
            bottom: 5px;
        }
    }

    &__instagram{
        color:$color-bg__primary;
        font-size:30px;
        line-height:100px;
    }

    &__footer{
        color:#ffffff;
        text-align: center;
        line-height:$height-footer;
    }
}
