.p-text {
    &__header {
        cursor: pointer;
        padding: 20px 30px;
        display: block;
        text-align: center;
        position: relative;
        transition: all 0.2s;

        @include mq(sp){
            padding: 20px 10px;
        }

        &::after {
            content: "";
            width: 50%;
            height: 3px;
            background: $color-bg__primary;
            position: absolute;
            left: 25%;
            bottom: 10px;
            visibility: hidden;
            transition: all 0.3s;
        }

        &:hover {
            color: $color-font__primary;
        }

        &:hover::after {
            visibility: visible;
            bottom: 5px;
        }
    }

    &__instagram{
        color:$color-bg__primary;
        font-size:30px;
        line-height:100px;
        cursor: pointer;
    }

    &__menu{

        &--title{
            font-size:$size_ft__xl;
            border-bottom:3px solid $color-border__primary;

            @include mq(sp){
                font-size:$size_ft__lg;
            }
        }

        &--content{
            font-size:$size_ft__md;
            line-height:$size_ft__2x;

            @include mq(sp){
                font-size:$size_ft__sm;
            }
        }

        &--time{
            font-size:$size_ft__sm;

            @include mq(sp){
                margin-top:10px;
            }
        }

        &--price{
            font-size:$size_ft__md;
            width:50%;
            font-weight: 900;

            @include mq(sp){
                width:100%;
                margin-top:10px;
            }
        }
    }

    &__contact{
        font-size:$size_ft__md;
        text-align: center;

        &--telephone{
            font-size:$size_ft__lg;
        }

        &--number{
            margin-left:30px;
            font-size:$size_ft__2x;
            color:$color-font__primary;
        }
    }

    &__footer{
        color:#ffffff;
        text-align: center;
        line-height:$height-footer;
    }
}
