@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.l-header {
  width: 100%;
}

.l-header__container {
  width: 90%;
  margin: 0 auto;
}

.l-header__space {
  height: 100px;
}

@media screen and (max-width: 767px) {
  .l-header__space {
    height: 150px;
  }
}

.l-content {
  padding: 100px 0;
}

.l-main {
  width: 100%;
  min-height: calc(100vh - 100px - 30px);
}

.l-menu {
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-menu {
    width: 100%;
  }
}

.l-content {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-content {
    width: 90%;
  }
}

.l-container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 90%;
  }
}

.l-slider {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-slider {
    width: 90%;
  }
}

.c-button__form {
  padding: 0 20px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  background: #008db1;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.c-button__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 3px solid #b0b0b0;
  padding: 10px 20px;
  height: 50px;
  position: relative;
}

.c-button__main::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #b0b0b0;
  border-right: 2px solid #b0b0b0;
  transform: rotate(45deg);
  margin-left: 10px;
}

.c-card__cover {
  width: 100%;
  height: 100vh;
}

.c-card__slider {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .c-card__slider {
    overflow: hidden;
  }
}

.c-card__halfBox {
  width: 50%;
}

.c-card__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .c-card__content {
    width: 100%;
    margin-bottom: 30px;
  }
}

.c-gird__centerd {
  display: flex;
  justify-content: space-between;
}

.c-gird__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .c-gird__center {
    justify-content: center;
  }
}

.c-gird__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-gird__content {
  width: 100%;
  padding-bottom: 300px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .c-gird__content {
    padding-bottom: 150px;
  }
}

.c-gird__between {
  display: flex;
  justify-content: space-between;
}

.c-gird__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-gird__header {
    display: block;
  }
}

.c-gird__main {
  padding-top: 100px;
  padding-bottom: 100px;
}

.c-gird__spIcon {
  display: none;
}

@media screen and (max-width: 767px) {
  .c-gird__spIcon {
    display: block;
  }
}

.c-image__logo {
  width: 250px;
  position: relative;
  left: 30px;
}

.c-image__menu {
  display: block;
  width: 50%;
  height: auto;
}

.c-input__text {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #008db1;
  outline: none;
  transition: all 0.5s;
}

.c-input__text:focus {
  border-bottom: 3px solid #008db1;
}

.c-input__area {
  width: 100%;
  border: 2px solid #008db1;
  height: 100px;
}

.c-nav__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.c-text__title {
  color: #008db1;
  font-size: 3em;
}

.c-text__sentence {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.c-text__label {
  font-size: 1.25em;
  line-height: 1.25em;
  color: #008db1;
}

.c-text__err {
  font-size: 1em;
  line-height: 1.25em;
  color: #fd1515;
}

.p-card__content {
  padding-bottom: 300px;
}

@media screen and (max-width: 767px) {
  .p-card__content {
    padding-bottom: 150px;
  }
}

.p-card__topImg {
  background: red;
  width: 60%;
  height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
}

.p-card__title {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .p-card__title {
    margin-bottom: 30px;
  }
}

.p-card__access {
  width: 100%;
}

.p-card__footer {
  width: 100%;
  height: 30px;
  background: #000000;
  color: #000000;
}

.p-card__input {
  width: 100%;
  display: block;
}

.p-card__menu {
  width: 100%;
  border: 2px solid #b0b0b0;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .p-card__menu {
    margin-bottom: 100px;
    padding: 30px 12px;
  }
}

.p-card__menu--title {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .p-card__menu--title {
    display: inline;
  }
}

.p-card__menu--price {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .p-card__menu--price {
    display: inline;
  }
}

.p-gird__main {
  padding-top: 100px;
}

.p-gird__header {
  position: fixed;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.p-gird__header_container {
  height: 100px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .p-gird__header_container {
    padding: 20px 0;
    height: 150px;
  }
}

.p-gird__nav {
  position: relative;
}

.p-gird__sliderIcon,
.p-gird__sliderIcon--right,
.p-gird__sliderIcon--left {
  display: none;
}

@media screen and (max-width: 767px) {
  .p-gird__sliderIcon,
  .p-gird__sliderIcon--right,
  .p-gird__sliderIcon--left {
    display: block;
    position: absolute;
  }
}

.p-gird__sliderIcon--left {
  left: 0;
}

.p-gird__sliderIcon--right {
  right: 0;
}

.p-gird__top {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  margin-bottom: 300px;
}

@media screen and (max-width: 767px) {
  .p-gird__top {
    height: calc(100vh - 150px);
    display: block;
    margin-bottom: 150px;
  }
}

.p-gird__topLogo {
  width: 20%;
  min-width: 200px;
  background-color: #008db1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .p-gird__topLogo {
    width: 100%;
    height: 200px;
  }
}

.p-gird__topImage {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .p-gird__topImage {
    width: 100%;
    height: calc(100% - 200px);
  }
}

.p-gird__reserve {
  text-align: center;
}

.p-image__top {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 30% 0;
     object-position: 30% 0;
}

.p-image__logo {
  width: 200px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-image__logo {
    width: 100px;
  }
}

.p-image__menu {
  display: block;
  width: 50%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .p-image__menu {
    width: 100%;
  }
}

.p-image__access {
  width: 100%;
  height: 450px;
}

.p-image__instagram {
  width: 50%;
  transition: transform 0.5s;
}

@media screen and (max-width: 767px) {
  .p-image__instagram {
    width: 100%;
    height: auto;
  }
}

.p-image__slide {
  width: 30px;
}

.p-image__line {
  width: 80%;
}

.p-logo__main {
  width: 250px;
  position: relative;
  cursor: pointer;
  cursor: hand;
}

.p-logo__instagram {
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

.p-text__header {
  cursor: pointer;
  padding: 20px 30px;
  display: block;
  text-align: center;
  position: relative;
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .p-text__header {
    padding: 20px 10px;
  }
}

.p-text__header::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #008db1;
  position: absolute;
  left: 25%;
  bottom: 10px;
  visibility: hidden;
  transition: all 0.3s;
}

.p-text__header:hover {
  color: #008db1;
}

.p-text__header:hover::after {
  visibility: visible;
  bottom: 5px;
}

.p-text__instagram {
  color: #008db1;
  font-size: 30px;
  line-height: 100px;
  cursor: pointer;
}

.p-text__menu--title {
  font-size: 1.5em;
  border-bottom: 3px solid #008db1;
}

@media screen and (max-width: 767px) {
  .p-text__menu--title {
    font-size: 1.25em;
  }
}

.p-text__menu--content {
  font-size: 1em;
  line-height: 2em;
}

@media screen and (max-width: 767px) {
  .p-text__menu--content {
    font-size: 0.875em;
  }
}

.p-text__menu--time {
  font-size: 0.875em;
}

@media screen and (max-width: 767px) {
  .p-text__menu--time {
    margin-top: 10px;
  }
}

.p-text__menu--price {
  font-size: 1em;
  width: 50%;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .p-text__menu--price {
    width: 100%;
    margin-top: 10px;
  }
}

.p-text__contact {
  font-size: 1em;
  text-align: center;
}

.p-text__contact--telephone {
  font-size: 1.25em;
}

.p-text__contact--number {
  margin-left: 30px;
  font-size: 2em;
  color: #008db1;
}

.p-text__footer {
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}

.p-top__detail {
  padding: 50px 20px;
  box-sizing: border-box;
}

.p-top__title {
  color: #008db1;
  font-size: 34px;
  width: auto;
  position: relative;
  padding: 10px 0;
  font-weight: 800;
  letter-spacing: 3px;
}

.p-top__title:before {
  content: "";
  background: #008db1;
  width: 50%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 25%;
}

.u-bg__main {
  background: #fffbf3;
}

.u-bg__header {
  background: #f0f0f0;
}

.u-bg__white {
  background: #ffffff;
}

.u-bg__gray {
  background: #f0f0f0;
}

.u-mt-10 {
  margin-top: 10px;
}

.u-mb-10 {
  margin-bottom: 10px;
}

.u-mr-10 {
  margin-right: 10px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-mt-20 {
  margin-top: 20px;
}

.u-mb-20 {
  margin-bottom: 20px;
}

.u-mr-20 {
  margin-right: 20px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-mt-30 {
  margin-top: 30px;
}

.u-mb-30 {
  margin-bottom: 30px;
}

.u-mr-30 {
  margin-right: 30px;
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-mt-40 {
  margin-top: 40px;
}

.u-mb-40 {
  margin-bottom: 40px;
}

.u-mr-40 {
  margin-right: 40px;
}

.u-pb-40 {
  padding-bottom: 40px;
}

.u-pt-40 {
  padding-top: 40px;
}

.u-mt-50 {
  margin-top: 50px;
}

.u-mb-50 {
  margin-bottom: 50px;
}

.u-mr-50 {
  margin-right: 50px;
}

.u-pb-50 {
  padding-bottom: 50px;
}

.u-pt-50 {
  padding-top: 50px;
}

.u-mt-60 {
  margin-top: 60px;
}

.u-mb-60 {
  margin-bottom: 60px;
}

.u-mr-60 {
  margin-right: 60px;
}

.u-pb-60 {
  padding-bottom: 60px;
}

.u-pt-60 {
  padding-top: 60px;
}

.u-mt-70 {
  margin-top: 70px;
}

.u-mb-70 {
  margin-bottom: 70px;
}

.u-mr-70 {
  margin-right: 70px;
}

.u-pb-70 {
  padding-bottom: 70px;
}

.u-pt-70 {
  padding-top: 70px;
}

.u-mt-80 {
  margin-top: 80px;
}

.u-mb-80 {
  margin-bottom: 80px;
}

.u-mr-80 {
  margin-right: 80px;
}

.u-pb-80 {
  padding-bottom: 80px;
}

.u-pt-80 {
  padding-top: 80px;
}

.u-mt-90 {
  margin-top: 90px;
}

.u-mb-90 {
  margin-bottom: 90px;
}

.u-mr-90 {
  margin-right: 90px;
}

.u-pb-90 {
  padding-bottom: 90px;
}

.u-pt-90 {
  padding-top: 90px;
}

.u-mt-100 {
  margin-top: 100px;
}

.u-mb-100 {
  margin-bottom: 100px;
}

.u-mr-100 {
  margin-right: 100px;
}

.u-pb-100 {
  padding-bottom: 100px;
}

.u-pt-100 {
  padding-top: 100px;
}

.u-mt-110 {
  margin-top: 110px;
}

.u-mb-110 {
  margin-bottom: 110px;
}

.u-mr-110 {
  margin-right: 110px;
}

.u-pb-110 {
  padding-bottom: 110px;
}

.u-pt-110 {
  padding-top: 110px;
}

.u-mt-120 {
  margin-top: 120px;
}

.u-mb-120 {
  margin-bottom: 120px;
}

.u-mr-120 {
  margin-right: 120px;
}

.u-pb-120 {
  padding-bottom: 120px;
}

.u-pt-120 {
  padding-top: 120px;
}

.u-mt-130 {
  margin-top: 130px;
}

.u-mb-130 {
  margin-bottom: 130px;
}

.u-mr-130 {
  margin-right: 130px;
}

.u-pb-130 {
  padding-bottom: 130px;
}

.u-pt-130 {
  padding-top: 130px;
}

.u-mt-140 {
  margin-top: 140px;
}

.u-mb-140 {
  margin-bottom: 140px;
}

.u-mr-140 {
  margin-right: 140px;
}

.u-pb-140 {
  padding-bottom: 140px;
}

.u-pt-140 {
  padding-top: 140px;
}

.u-mt-150 {
  margin-top: 150px;
}

.u-mb-150 {
  margin-bottom: 150px;
}

.u-mr-150 {
  margin-right: 150px;
}

.u-pb-150 {
  padding-bottom: 150px;
}

.u-pt-150 {
  padding-top: 150px;
}

.u-mt-160 {
  margin-top: 160px;
}

.u-mb-160 {
  margin-bottom: 160px;
}

.u-mr-160 {
  margin-right: 160px;
}

.u-pb-160 {
  padding-bottom: 160px;
}

.u-pt-160 {
  padding-top: 160px;
}

.u-mt-170 {
  margin-top: 170px;
}

.u-mb-170 {
  margin-bottom: 170px;
}

.u-mr-170 {
  margin-right: 170px;
}

.u-pb-170 {
  padding-bottom: 170px;
}

.u-pt-170 {
  padding-top: 170px;
}

.u-mt-180 {
  margin-top: 180px;
}

.u-mb-180 {
  margin-bottom: 180px;
}

.u-mr-180 {
  margin-right: 180px;
}

.u-pb-180 {
  padding-bottom: 180px;
}

.u-pt-180 {
  padding-top: 180px;
}

.u-mt-190 {
  margin-top: 190px;
}

.u-mb-190 {
  margin-bottom: 190px;
}

.u-mr-190 {
  margin-right: 190px;
}

.u-pb-190 {
  padding-bottom: 190px;
}

.u-pt-190 {
  padding-top: 190px;
}

.u-mt-200 {
  margin-top: 200px;
}

.u-mb-200 {
  margin-bottom: 200px;
}

.u-mr-200 {
  margin-right: 200px;
}

.u-pb-200 {
  padding-bottom: 200px;
}

.u-pt-200 {
  padding-top: 200px;
}

.u-display__flex {
  display: flex;
}

.u-align__center {
  text-align: center;
}

.u-fixed {
  position: fixed;
}

.u-op__1 {
  opacity: 0.1;
}

.u-op__2 {
  opacity: 0.2;
}

.u-op__3 {
  opacity: 0.3;
}

.u-op__4 {
  opacity: 0.4;
}

.u-op__5 {
  opacity: 0.5;
}

.u-op__6 {
  opacity: 0.6;
}

.u-op__7 {
  opacity: 0.7;
}

.u-op__8 {
  opacity: 0.8;
}

.u-op__9 {
  opacity: 0.9;
}

.u-op__10 {
  opacity: 1;
}

.js-header__getColor {
  background: #f0f0f0;
  z-index: 20px;
}

.hooper-slide {
  flex-shrink: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hooper-progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: #efefef;
}

.hooper-progress-inner {
  height: 100%;
  background-color: #4285f4;
  transition: 300ms;
}

.hooper-pagination {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  padding: 5px 10px;
}

.hooper-indicators {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hooper-indicator:hover,
.hooper-indicator.is-active {
  background-color: #000000;
}

.hooper-indicator {
  margin: 0 2px;
  width: 12px;
  height: 4px;
  border-radius: 4px;
  border: none;
  padding: 0;
  background-color: #008db1;
  cursor: pointer;
}

.hooper-pagination.is-vertical {
  bottom: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hooper-pagination.is-vertical .hooper-indicators {
  flex-direction: column;
}

.hooper-pagination.is-vertical .hooper-indicator {
  width: 6px;
}

.hooper-next,
.hooper-prev {
  background-color: transparent;
  border: none;
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.hooper-next.is-disabled,
.hooper-prev.is-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.hooper-next {
  right: 0;
}

.hooper-prev {
  left: 0;
}

.hooper-navigation.is-vertical .hooper-next {
  top: auto;
  bottom: 0;
  transform: initial;
}

.hooper-navigation.is-vertical .hooper-prev {
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  transform: initial;
}

.hooper-navigation.is-rtl .hooper-prev {
  left: auto;
  right: 0;
}

.hooper-navigation.is-rtl .hooper-next {
  right: auto;
  left: 0;
}

.hooper {
  padding: 10px 0;
  position: relative;
  box-sizing: border-box;
}

.hooper * {
  box-sizing: border-box;
}

.hooper-list {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hooper-track {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.hooper.is-vertical .hooper-track {
  flex-direction: column;
  height: 200px;
}

.hooper.is-rtl {
  direction: rtl;
}

.hooper-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

