
.l-content{
    padding:100px 0;
}

.l-main{
    width:100%;
    min-height:calc(100vh - $h_header - 30px);
}

.l-menu{
    width:65%;
    margin:0 auto;

    @include mq(sp){
        width:100%;
    }
}

.l-content{
    width:50%;
    max-width:500px;
    margin:0 auto;

    @include mq(sp){
        width:90%;
    }
}

.l-container{
    width:80%;
    margin:0 auto;

    @include mq(sp){
        width:90%;
    }
}

.l-slider{
    width:50%;
    margin:0 auto;

    @include mq(sp){
        width:90%;
    }
}
